@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,800&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2? Family= Lumanosimo & Family= Montserrat:wght@900 & Family= Poppins & Family= Raleway:wght@100 & Family= Roboto+Slab: wght@200;700 & Family= Rubik+Iso & Family= Sigmar & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html, body{
    height: 100%;
}

#root{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(100deg, #1DAAF9 -1.21%, rgba(0, 255, 41, 0.55) 102.66%);
}

main {
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    
}



input {
    outline: none;
}

/* ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.757);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 7px;
} */
 

/* Общий стиль для скроллбаров */
/* Для WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

/* Для Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

/* Скроллбар поверх контента (Chrome, Edge, Safari) */
html, body {
    /* overflow: overlay; */
}