main{
    font-family: Arial, Helvetica, sans-serif;
}
.block-teg-h1-reviews {
    margin: auto;
    margin-top: 100px;
    width: 230px;
    background-color: #FCCD3A;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}


.avatar-and-text{
    display: flex;
    flex-direction: row;
}
.teg-h1-reviews {
    width: auto;
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 10px 0px;
}

.flex-boxs-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.box-reviews {
    width: 375px;
    background-color: #FCCD3A;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 15px;
    box-sizing: border-box;
}

.in-box-ots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.flex-img-icon-text-stars {
    display: flex;
    align-items: center;
    width: 100%;
}

.teg-p-firstname-lastname {
    padding-left: 10px;
    line-height: 23px;
}

.flex-img-icon-text {
    display: flex;
    align-items: center;
    flex-grow: 1;
justify-content: space-between;
}

.flex-five-star {
    display: flex;
    margin-left: auto;
}

.users-review {
    text-align: justify;
    padding: 10px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}

.flex-img-icon-text img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.flex-five-star img {
    width: 20px;
    height: 20px;
}

.show-all{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 13px;
    width: 130px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    border: 0px solid rgba(255, 255, 255, 0);
    transition: 500ms;
    cursor: pointer;
}

.show-all:hover{
    background-color: white; 
    color: black;   
}

/* Стили для пагинации */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #000000b5;
    border: 1px solid #000000b5;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination button.active {
    background-color:#FCCD3A;;
    color: rgb(0, 0, 0);
    border: 1px solid #FCCD3A;
}

.pagination button:hover {
    background-color: #FCCD3A;
    color: black;
    border: 1px solid #FCCD3A;
    
}

.pagination button:disabled {
    background-color: #FCCD3A;
    cursor: not-allowed;
}
